<plugin name='goodform' version='1.0.0-SNAPSHOT' grailsVersion='2.1 &gt; *'>
  <author>Peter McNeil, Ross Rowe</author>
  <authorEmail>peter@nerderg.com</authorEmail>
  <title>Goodform Plugin</title>
  <description>Create extremely usable complex forms with rules based flow that work well in browsers.
Good form features a form definition DSL that allows rapid human readable form creation.
</description>
  <documentation>http://grails.org/plugin/goodform</documentation>
  <type>GoodformGrailsPlugin</type>
  <resources>
    <resource>GoodFormResources</resource>
    <resource>GoodFormUrlMappings</resource>
    <resource>com.nerderg.goodForm.FormController</resource>
    <resource>com.nerderg.goodForm.FormDefinition</resource>
    <resource>com.nerderg.goodForm.FormInstance</resource>
    <resource>com.nerderg.goodForm.FormDataService</resource>
    <resource>com.nerderg.goodForm.FormValidationService</resource>
    <resource>com.nerderg.goodForm.GoodFormService</resource>
    <resource>com.nerderg.goodForm.RulesEngineService</resource>
    <resource>com.nerderg.goodForm.FormTagLib</resource>
    <resource>com.nerderg.goodForm.HelpTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.24' />
      <plugin group='org.grails.plugins' name='rendering' version='0.4.3' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.1' />
      <plugin group='org.grails.plugins' name='nerderg-form-tags' version='2.1.3' />
      <plugin group='org.grails.plugins' name='cxf' version='1.0.7' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>